extends layout

block content
  div.tag
    div.
      article
    article.
      article text
    
  div.tag
    div.
      aside
    aside.
      aside text
      
  div.tag
    div.
      details
    details.
      details text
    
  div.tag
    div.
      figcaption
    figcaption.
      figcaption text
  
  div.tag    
    div.
      figure
    figure.
      figure text
     
  div.tag 
    div.
      footer
    footer.
      footer text
      
  div.tag
    div.
      header
    header.
      header text
  
  div.tag
    div.
      main
    main.
      main text
    
  div.tag
    div.
      mark
    mark.
      mark text
      
  div.tag
    div.
      nav
    nav.
      nav text
    
  div.tag
    div.
      section
    section.
      section text

  div.tag
    div.
      summary
    summary.
      summary text
      
  div.tag
    div.
      time
    time.
      time text
      
  div.tag
    div.
      calendar
    calendar.
      calendar text
      
  div.tag
    div.
      date
    date.
      date text
      
  div.tag
    div.
      time
    time.
      time text
      
  div.tag
    div.
      email
    email.
      email text
      
  div.tag
    div.
      url
    url.
      url text
      
  div.tag
    div.
      search
    search.
      search text
